:root {
  --color-primary: #40cfd4;
  --color-body: hsl(210, 36%, 96%);
  --color-text: #fff;
  --color-link: #617d98;
  --color-link-darker: #102a42;
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Roboto", sans-serif;
  --letter-spacing: 4px;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --trasition: all 0.5s;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */
html {
  font-size: 62.5%;
}
body {
  background: var(--color-body);
  color: var(--color-text);
  font-family: var(--font-primary);
  font-size: 1.4rem;
  line-height: 1.5;
}
h1,
h2 {
  font-family: var(--font-secondary);
  letter-spacing: var(--letter-spacing);
  line-height: 1.25;
  text-transform: uppercase;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 3.2rem;
}

@media screen and (min-width: 768px) {
  h1,
  h2 {
    line-height: 1;
  }
  h1 {
    font-size: 6.4rem;
  }
  h2 {
    font-size: 4rem;
  }
  body {
    font-size: 1.6rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}

/* Icons */
.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.icon--small {
  width: 25px;
  height: 25px;
  transition: var(--trasition);
}
.icon--small:hover {
  color: var(--color-primary);
}
.icon--primary {
  color: var(--color-primary);
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}
.collapsible__toggler {
  transition: var(--trasition);
}
.collapsible__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: var(--trasition);
}
.collapsible--expanded .collapsible__toggler {
  transform: rotate(90deg);
}
.collapsible--expanded .collapsible__content {
  /* NOTE: Its crucial to use 'vh' instead of %. Because the content
  area shuts abruptly if % is used. It also works if we used fixed
  value like 'rem'*/
  max-height: 100vh;
  opacity: 1;
  transition: var(--trasition);
}
/* Navigation Bars */
.nav {
  background: #fff;
  box-shadow: var(--light-shadow);
  padding: 1.6rem 2.4rem;
}
.nav-center {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav__list {
  font-size: 1.76rem;
  font-weight: 600;
  width: 100%;
  /* margin: 0 0 1.5rem 0; */
}
.nav__item {
  color: var(--color-link-darker);
  cursor: pointer;
  letter-spacing: var(--letter-spacing);
  padding: 1.2rem 0.8rem;
  transition: var(--trasition);
}
.nav__item a {
  color: var(--color-link);
}
.nav__item:hover {
  padding-left: 2rem;
  /* padding: 1.2rem 0.8rem 1.2rem 2rem; */
}
.nav__item:hover.nav__item > a {
  color: var(--color-primary);
}
.nav img {
  height: 5rem;
}
@media screen and (min-width: 768px) {
  /* Normal Nav */
  .nav {
    background: transparent;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: auto;
    padding: 0;
  }
  .nav .collapsible__toggler {
    display: none;
  }
  .nav__list {
    width: auto;
    display: flex;
    max-height: 100%;
    opacity: 1;
    font-weight: 700;
  }
  .nav__item {
    padding: 0;
    margin: 0 1.5rem;
  }
  .nav__item a {
    color: var(--color-text);
    transition: color 0.3s;
  }
  .nav__item:hover.nav__item > a {
    color: var(--color-text);
  }

  .nav__item:hover {
    padding: 0;
  }
  /* Fixed Nav */
  .nav--scroll {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--color-text);
    width: 100%;
    box-shadow: var(--box-shadow);
  }
  .nav--scroll .nav__item {
    color: var(--color-link-darker);
    cursor: pointer;
    letter-spacing: var(--letter-spacing);
    transition: var(--trasition);
  }
  .nav--scroll .nav__item a {
    color: var(--color-link);
  }
  .nav--scroll .nav__item:hover {
    padding: 0;
    margin: 0 1.5rem;
  }
  .nav--scroll .nav__item:hover.nav__item > a {
    color: var(--color-primary);
  }
}
