<nav class="nav nav--scroll collapsible">
  <div class="nav-center">
    <a href="#"><img src="images/logo.svg" alt="" /></a>
    <svg class="icon icon--large icon--primary collapsible__toggler">
      <use xlink:href="images/sprite.svg#bars-solid"></use>
    </svg>
    <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="#">Home</a></li>
      <li class="nav__item"><a href="#">About</a></li>
      <li class="nav__item"><a href="#">Services</a></li>
      <li class="nav__item"><a href="#">Tours</a></li>
    </ul>
  </div>
</nav>
